.dashboard-container {
    display: flex;
    flex-direction: row;


    .content-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: -webkit-fill-available;
        margin-top: 166px; 


        .overview-container{
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 500px;

            .overview-table{
                
                margin: 40px 50px 0 0;
                display: flex;
            }
            .table-container{
                border: 1px solid red;
            }
            .overview-graph {
               
                margin: 0 50px 0 30px;
            }
        }
        .transfer-modal-container-item{
            width: 572px;
        }
        .transfer-modal-container-item.right{
            width: 552px;
        }

        .footer-container{
            min-height: 8vh;
            border-radius: 10px;
            background-color: black;
        }
    }
}
