@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
.transfer-container{
    display: flex;

    .transfer-form-wrapper{
        width: 512px;
        display: flex;
        margin: auto;
        margin-top: 35px;
        margin-bottom: 40px;
        padding: 30px;
        box-shadow: 1px 5px 12px 6px #DBDBDB;
        border-radius: 15px;
        

        .form{
            margin: auto;
            width: 12vw;
        }
    }


    .form-control {
        box-shadow: 0px 12px 6px #DBDBDB;
        width: 246px;
        border: 2px solid #ced4da;
        font-size: 18px;
        font-family: 'Lato', sans-serif;
    }
    .transfer-btn{
        width: 154px;
        background: #4D96CC;
        font-family: 'Lato', sans-serif;
        border-radius: 40px !important;
    }
    .error-mess{
        margin-bottom: 0px;
    }
}
