.Charttable-container{
     min-width: 25vw;
     margin: 20px;
     padding: 20px 10px 0 10px; 
     width: 517px;
     // border: 1px solid black;
     box-shadow: 1px 2px 6px 3px #DBDBDB;
     border-radius: 5px;
     height: 334.06px;
    .rt-tr-group{
        line-height: 2;
    }
    .ReactTable {
        border: 0px;
    }
}
.transactiontable-container{
    display: flex;
    flex-direction: column;
    padding: 2vw;
    // border: 1px solid black;
    min-width:80vw;

    .transaction-container{
        // border: 1px solid blue;

        .table-title {
            text-align: left;
        }

        .table-filters {
            display: flex;
            // border: 1px solid pink;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    .reacttable-container{
        // border: 1px solid black;
        min-width: 50vw;
        margin: auto;
        box-shadow: 1px 2px 6px 3px #DBDBDB;
        border-radius: 5px;
     }
}
